version: 2
jobs:
  build:
    working_directory: ~/wamp-zre
    docker:
      - image: circleci/node:6
      - image: crossbario/crossbar:latest
    steps:
      - checkout
      - run:
          name: update-npm
          commands:
           - 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm test
#      - run:
#          name: code-coverage
#          command: './node_modules/.bin/nyc report --reporter=text-lcov'
      - store_artifacts:
          path: junit.xml
#      - store_artifacts:
#          path: coverage
#          prefix: coverage
      - store_test_results:
          path: test-results.xml